<div class="col-md-6" style="background-color:rgba(255, 255, 255, 0.7);; margin-top: 20px">
  <div class="col-md-12" style="padding-bottom: 20px">
    <h2>Summary</h2>
    <div>
      <div style="background-color: rgb(235, 235, 235); border-radius: 20px; padding: 10px; margin: 10px">
        <h3>
          <b>Biggest expense:</b>
        </h3>
        <h4>{{biggestExpense.name}} </h4>
        <h4>{{biggestExpense.amount}}</h4>
        <h4>{{biggestExpense.createdAt | prettyDateFormat}} </h4>
      </div>
      <div style="background-color: rgb(252, 202, 173); border-radius: 20px; padding: 10px; margin: 10px">
        <h3>Monthly expenses</h3>
        <h4>{{monthlyExpenses | number: '1.2-2'}}</h4>
      </div>
      <div style="background-color: rgb(213, 255, 185); border-radius: 20px; padding: 10px; margin: 10px">
        <h3>Monthly income</h3>
        <h4>{{monthlyIncome | number: '1.2-2'}}</h4>
      </div>
      <div style="background-color: rgb(166, 212, 255); border-radius: 20px; padding: 10px; margin: 10px">
        <h3>Monthly budget</h3>
        <h4>{{monthlyBudget | number: '1.2-2'}}</h4>
      </div>
    </div>
  </div>
</div>