/* You can add global styles to this file, and also import other style files */

@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.box {    
    border-radius: 4px;
    margin-top: 15px;
    background-color: rgba(100, 100, 100, 0.7);
    color: #ffffff;
}

@media (max-width: 1200px) {
    #searchForm {
      display: block;
    }
  }