<div class="container" style="background-color: white; margin-top: 20px">
  <div class="col-md-12">

    <form *ngIf="!editOperationForm">
      <h3>Add new one:</h3>
      <div class="col-md-6">

        Amount:
        <input class="form-control" type="text" name="amount" placeholder="amount" [(ngModel)]="newOperation.amount" /> Category:
        <input class="form-control" type="text" name="category" placeholder="category" [(ngModel)]="newOperation.category" /> Description:
        <input class="form-control" type="text" name="name" placeholder="description" size="50" [(ngModel)]="newOperation.name" />
        <br>

        <button type="button" class="btn btn-primary" (click)="saveOperation(newOperation)">Add</button>
        <button type="button" class="btn btn-warning" (click)="cancelNewOperation()">Cancel</button>
      </div>

      <div class="col-md-6">
        <h3>Add from file:</h3>
        <input type="file" #fileInput placeholder="Upload file..." />
        <br>
        <button type="button" class="btn btn-primary" (click)="upload()">Upload</button>
      </div>
    </form>

    <form *ngIf="editOperationForm">
      <div class="col-md-6">
        <h3>Edit:</h3>

        <input class="form-control" type="text" name="amount" placeholder="amount" [(ngModel)]="editedOperation.amount" />
        <input class="form-control" type="text" name="category" placeholder="category" [(ngModel)]="editedOperation.category" />
        <input class="form-control" type="text" name="name" placeholder="description" size="50" [(ngModel)]="editedOperation.name"
        />
        <br>
        <button type="button" class="btn btn-primary" (click)="updateOperation(editedOperation)">Submit</button>
        <button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button>
      </div>
    </form>
    <br>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center">Amount</th>
          <th class="text-center">Category</th>
          <th class="text-center">Description</th>
          <th class="text-center">Date</th>
          <th class="text-center">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let operation of operations">
          <td class="col-md-1">{{ operation.amount | number:'1.2-2' }} zł</td>
          <td class="col-md-1">{{ operation.category }}</td>
          <td class="col-md-4">{{ operation.name }}</td>
          <td class="col-md-1">{{ operation.createdAt | prettyDateFormat}}</td>
          <td class="col-md-1">
            <button class="btn btn-info" (click)="showEditOperationForm(operation)">
              <i class="fa fa-edit"></i>
            </button>
            <button class="btn btn-danger" (click)="deleteOperation(operation)">
              <i class="fa fa-minus"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>